{% extends 'booking/index.html' %}



{% block nav %}
<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/booking">Travel-go<em></em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<!-- <li><a href="destination.html">Destination</a></li>
						<li class="has-dropdown">
							<a href="#">Travel</a>
							<ul class="dropdown">
								<li><a href="#">Europe</a></li>
								<li><a href="#">Asia</a></li>
								<li><a href="#">America</a></li>
								<li><a href="#">Canada</a></li>
							</ul>
						</li> -->
						<li><a href="/booking">Logout</a></li>
					<!-- 	<li><a href="/booking/register/">Register</a></li> -->
					</ul>	
				</div>
				</div>

{% endblock %}

{% block h %}
<h1>Welcome {{user.username}} !!!</h1>
{% endblock %}

{% block k %}
<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
<div class="form-wrap">
<div class="tab">
<div class="tab-content">
<div class="tab-content-inner active" data-content="signup">
		<center><h3>Dashboard</h3></center>{% if request.GET.p %}
<span style="color: blue; font-weight: bold;">{{ request.GET.p }}</span><br/>
{% endif %}
												<!-- <form id="action-form" method="POST"> -->
													{% csrf_token %} 
													<div class="row form-group">
														<input type="hidden" name="username" value="{{ user.username }}"/>

														<!-- <div class="col-md-12">
															<input type="submit" class="btn btn-primary btn-block" name="choice" value="Add Bus" required="required" id="switch_4_1"/>
														</div> -->
														<div class="col-md-12">
															<!-- <input type="submit" class="btn btn-primary btn-block" name="choice" value="Remove Bus" required="required" id="switch_4_1"/> -->
															<a href='/booking/add_bus'><button class="btn btn-primary btn-block">Add Bus</button></a>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<!-- <input type="submit" class="btn btn-primary btn-block" name="choice" value="Remove Bus" required="required" id="switch_4_1"/> -->
															<a href='/booking/remove_bus'><button class="btn btn-primary btn-block">Remove Bus</button></a>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<!-- <input type="submit" class="btn btn-primary btn-block" name="choice" value="Remove Bus" required="required" id="switch_4_1"/> -->
															<a href='/booking/view_feedback'><button class="btn btn-primary btn-block">View Feedback</button></a>
														</div>
													</div>

													
													
												<!-- 	<div class="row form-group">
														<div class="col-md-12">
															<input type="submit" class="btn btn-primary btn-block" value="Register">
														</div>
													</div> -->
												</form>	
										</div>
										</div>
									</div>
								</div>
							</div>

{% endblock%}

{% block body %}	
{% endblock %}