{% extends 'booking/index.html' %}



{% block nav %}
<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/booking">Travel-go<em></em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<!-- <li><a href="destination.html">Destination</a></li>
						<li class="has-dropdown">
							<a href="#">Travel</a>
							<ul class="dropdown">
								<li><a href="#">Europe</a></li>
								<li><a href="#">Asia</a></li>
								<li><a href="#">America</a></li>
								<li><a href="#">Canada</a></li>
							</ul>
						</li> -->
						<li><a href="/booking/bus_operator/">Back</a></li> 
						<li><a href="/booking">Logout</a></li>
						
					</ul>	
				</div>
				</div>

{% endblock %}

{% block h %}
<!-- <h1>Welcome {{user.username}} !!!</h1> -->
{% endblock %}


{% block k %}
<div class="col-md-8 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
<div class="form-wrap">
<div class="tab">
<div class="tab-content">
<div class="tab-content-inner active" data-content="signup">
	<h3>Feedback</h3>{% if p %}
<span style="color: blue; font-weight: bold;">{{ p }}</span><br/>
{% endif %}
												<!-- <form id="action-form" method="POST"> -->
													<!-- {% csrf_token %}  -->
													<div class="row form-group">
														<input type="hidden" name="username" value="{{ user.username }}"/>

													<div class="row form-group">
														<div class="col-md-10">
															<table  style="width: 100%">
															<tr style="border-bottom: 1px solid #ddd;">
																<td colspan="8"><h4>User</h4></td>     
																 
																<td colspan="8"><h4>Comment</h4></td>   
																<td colspan="8"><h4>Rating</h4></td>
															</tr>
															{% for b in bookings%}
															
															<tr style="border-bottom: 1px solid #ddd;">
																<td colspan="8">{{b.user.username}}</td>
															<!-- </tr>
															<tr> -->
																
																<td colspan="8">{{b.comment}}</td>
																<td colspan="8">{{b.rating}}</td>
															<!-- </tr> -->
																<!-- <td colspan="8">{{b.timestamp}}</td> -->
															</tr>
															{% endfor %}
															</table>
														</div>
													</div>
														
													
													<!-- <div class="row form-group">
														<div class="col-md-12">
															<input type="submit" class="btn btn-primary btn-block" value="Add Money">
														</div>
													</div> -->
												<!-- </form>	 -->
										</div>
										</div>
									</div>
								</div>
							</div>

{% endblock%}

{% block body %}	
{% endblock %}